* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 140px;
  --item-size: 110px;
  --item-size-med: 80px;
  --item-size-small: 60px;
  --border-size: 2px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(45deg, #0085ff, #ff1458); */
}

.board {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: solid var(--border-size) black;
  background: white;
  /* for items in grid */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* to remove grid borders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n+1) {
  border-left: none;
}
.cell:nth-child(3n+3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.pieces {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(var(--cell-size) * 3);
  width: var(--cell-size);
  gap: 10px;
  margin: 0 40px;
}

.pieces .dragbox {
  padding: 10px;
  background: rgb(223, 223, 223);
}

.piece {
  position: relative;
  border: var(--border-size) solid white;
  border-radius: 50%;
}

.red {
  background: #ff1458;
}

.blue {
  background: #0085ff;
}

.sm {
  height: var(--item-size-small);
  width: var(--item-size-small);
}

.med {
  height: var(--item-size-med);
  width: var(--item-size-med);
}

.lg {
  height: var(--item-size);
  width: var(--item-size);
}

.dragging {
  opacity: 0.5;
  box-shadow: 0px 0px 10px #333;
}

.red-hovering {
  background: #fb7da1;
}

.blue-hovering {
  background: #a6d1f9;
}

/* restart page */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .9);

  /* button and text*/
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}
.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
.winning-message.show {
  display: flex;
}